<template>
  <div class="app">
    <b-container>
      <b-col cols="12">
        <b-table striped hover :items="users"></b-table>
        <b-button @click="download()">Export</b-button>
      </b-col>
    </b-container>
  </div>
</template>

<script>
const {jsPDF} = require("jspdf");
import 'jspdf-autotable'

export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data() {
    return {
      title: 'List of users',
      users: [
        {
          id: "1",
          name: "Nelson Shaw",
          username: "nelson",
          email: "nelson.shaw@example.com",
          phone: "(203)-371-7996"
        },
        {
          id: "2",
          name: "Gloria Kuhn",
          username: "gloria",
          email: "gloria.kuhn@example.com",
          phone: "(859)-769-2364"
        },
        {
          id: "3",
          name: "Tyler Spencer",
          username: "tyler",
          email: "tyler.spencer@example.com",
          phone: "(995)-941-5277"
        },
        {
          id: "4",
          name: "Clara Payne",
          username: "clara",
          email: "clara.payne@example.com",
          phone: "(801)-469-2860"
        },
        {
          id: "5",
          name: "Victor Hunt",
          username: "Victor",
          email: "victor.hunt@example.com",
          phone: "(075)-971-1758"
        },
      ],
    }
  },
  methods: {
    download() {
      var vm = this
      var columns = [
        {title: "Id", dataKey: "id"},
        {title: "Name", dataKey: "name"},
        {title: "Username", dataKey: "username"},
        {title: "Email", dataKey: "email"},
        {title: "Phone", dataKey: "phone"},
      ];
      var doc = new jsPDF('p', 'pt');
      doc.text('User List', 40, 40);
      doc.autoTable(columns, vm.users, {
        margin: {top: 60},
      });
      doc.save('users.pdf');
    },
  }
}
</script>